In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('../data/external/Viajes_BRT/Viajes_BRT_2019.csv', encoding='iso-8859-1')
print(df.shape)
df.head(5)

(77954, 6)

         DIA       FECHA  HORA  NO_STA              ESTACION  VIAJES_TOTAL
0  MARTES     2019/01/01     4      12               Alameda             1
1  MARTES     2019/01/01     5      10  Ciencias de La Salud             3
2  MARTES     2019/01/01     5      11          Juan Alvarez             5
3  MARTES     2019/01/01     5      12               Alameda             5
4  MARTES     2019/01/01     5      13      San Juan de Dios            20

Media por día ya que los datos de personas ocupadas, y personas viviendo no tienen temporalidad, se puede asumir que los otros también manejan información en un día promedio, por lo tanto no afectan las unidades.